
@font-face {
  font-family: 'OCRAStd';
  src: url('OCRAStd.eot?#iefix') format('embedded-opentype'),  url('OCRAStd.otf')  format('opentype'),
	     url('OCRAStd.woff') format('woff'), url('OCRAStd.ttf')  format('truetype'), url('OCRAStd.svg#OCRAStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
